name: CI-test

on: [push]

jobs:
  run-test-chart:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - args: ""
          - args: "--verbose"
          - args: "--dry-run"
          - args: "--verbose --dry-run"

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt

      - name: Install helm-upgrade package
        run: |
          python -m pip install .

      - name: Run helm-upgrade
        working-directory: ./tests
        env:
          params: '{"binderhub": "https://raw.githubusercontent.com/jupyterhub/helm-chart/gh-pages/index.yaml", "nginx-ingress": "https://raw.githubusercontent.com/helm/charts/master/stable/nginx-ingress/Chart.yaml", "cert-manager": "https://github.com/jetstack/cert-manager/releases/latest"}'
        run: |
          helm-upgrade run test-chart '${{ env.params }}' ${{ matrix.args }}

  run-test-suite:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip coverage
          python -m pip install -r requirements.txt

      - name: Install helm-upgrade package
        run: |
          python -m pip install .

      - name: Run tests
        run: |
          python -m coverage run -m pytest -vvv

      - name: Print coverage report
        run: |
          coverage report && coverage html

      - name: Upload htmlcov dir as artifact
        uses: actions/upload-artifact@v2
        with:
          name: htmlcov
          path: htmlcov/


  update-badge:
    runs-on: ubuntu-latest
    needs: run-test-suite
    if: github.event_name == 'push' && github.ref != 'refs/heads/main'

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Download htmlcov artifact
        uses: actions/download-artifact@v2
        with:
          name: htmlcov
          path: htmlcov

      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip bs4

      - name: Run script to update badge metadata
        run: |
          python update_coverage_badge.py

      - name: Add, Commit, Push the edited metadata file
        uses: EndBug/add-and-commit@v4
        with:
          add: 'coverage_badge.json'
          author_name: CI User
          author_email: ci-user@github.local
          message: "Update coverage badge metadata"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
