name: CI-test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run-test-chart:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - args: ""
          - args: "--verbose"
          - args: "--dry-run"
          - args: "--verbose --dry-run"

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt

      - name: Install helm-upgrade package
        run: |
          python -m pip install .

      - name: Run helm-upgrade
        working-directory: ./tests
        env:
          params: '{"binderhub": "https://raw.githubusercontent.com/jupyterhub/helm-chart/gh-pages/index.yaml", "nginx-ingress": "https://raw.githubusercontent.com/helm/charts/master/stable/nginx-ingress/Chart.yaml", "cert-manager": "https://github.com/jetstack/cert-manager/releases/latest"}'
        run: |
          helm-upgrade run test-chart '${{ env.params }}' ${{ matrix.args }}

  run-test-suite:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip coverage
          python -m pip install -r requirements.txt

      - name: Install helm-upgrade package
        run: |
          python -m pip install .

      - name: Run tests
        run: |
          python -m coverage run -m pytest -vvv

      - name: Print coverage report
        run: |
          coverage report && coverage html

      - name: Upload htmlcov dir as artifact
        uses: actions/upload-artifact@v2
        with:
          name: htmlcov
          path: htmlcov/


  update-badge:
    runs-on: ubuntu-latest
    # needs: run-test-suite

    steps:
      # - name: Checkout repo
      #   uses: actions/checkout@v2
      #   with:
      #     ref: ${{ github.event.pull_request.head.sha }}

      - run: echo ${{ github.event.pull_request.head.label }}

      # - name: Download htmlcov artifact
      #   uses: actions/download-artifact@v2
      #   with:
      #     name: htmlcov
      #     path: htmlcov

      # - name: Set up Python 3.7
      #   uses: actions/setup-python@v1
      #   with:
      #     python-version: 3.7

      # - name: Install dependencies
      #   run: |
      #     python -m pip install --upgrade pip bs4

      # - name: Run script to update badge metadata
      #   run: |
      #     python update_coverage_badge.py

      # - name: Add, Commit, Push the edited metadata file
      #   run: |
      #     git add coverage_badge.json
      #     git commit -m "Update coverage badge metadata"
      #     git push origin ${{ github.event.pull_request.head.label }}
      #   env:
      #     GIT_COMMITTER_EMAIL: ci-user@github.local
      #     GIT_COMMITTER_NAME: CI User
      #     GIT_AUTHOR_EMAIL: ci-user@github.local
      #     GIT_AUTHOR_NAME: CI User
