name: Publish Python distributions to PyPI

on:
  release:
    types:
      - published

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    environment: pypi

    steps:
      - name: Checkout the repo
        uses: actions/checkout@master

      - name: Set up Python 3
        uses: actions/setup-python@v2.3.2
        with:
          python-version: "3.x"

      - name: Install pypa/build
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry

      - name: Build and Publish package
        run: |
          python -m poetry publish --build --no-interaction \
          --username "__token__" \
          --password ${{ secrets.PYPI_API_TOKEN }}
