name: Publish Python distributions to PyPI

on:
  release:
    types: [created]

jobs:
  deploy:
    name: Build and publish Python distribution to PyPI
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repo
        uses: actions/checkout@master

      - name: Set up Python 3.7
        uses: actions/setup-python@v2.3.1
        with:
          python-version: 3.7

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine
          pip install -r requirements.txt

      - name: Build and Publish to PyPI
        env:
          TWINE_USERNAME: ${{ github.repository_owner }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          python setup.py sdist bdist_wheel
          twine upload dist/*
